@charset "UTF-8";
/* CSS Document */

#contactCon
{
	display: block-inline;
	float:right;
	margin-left: 15px;
}


.name
{
	color: white;
}

#name
{
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	line-height: 30px;
	border: none;
	border-radius: 3px;
	width: 300px;
	margin-bottom: 10px;
}

.email
{
	color: white;
}

#email
{
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	line-height: 30px;
	border: none;
	border-radius: 3px;
	width: 300px;
	margin-bottom: 10px;
}

.phone
{
	color: white;
}


#phone
{
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	line-height: 30px;
	border: none;
	border-radius: 3px;
	width: 300px;
	margin-bottom: 10px;
}

.comments
{
	color: white;
}


#comments
{
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	line-height: 30px;
	border: none;
	border-radius: 3px;
	width: 300px;
	margin-bottom: 10px;
}

#submit
{
	border:none;
	border-radius: 3px;
}

#submit:hover
{
	color: #2dc997;
}

@media (max-width: 769px) {
	#contactCon
	{
		margin: 0 auto;
	}

}