@charset "UTF-8";
/* CSS Document */

#title
{
	color:#2dc997;
}

#membershipInfo
{
	padding-left: 30px;
	margin-bottom: 10px;
	padding-top: 30px;
	float:left;
}

#membershipInfo ul
{
	float: left;
}

#racquets
{
	float: right;
	width: 450px; 
	height: 250px;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#applications
{
	text-align: right;
}

#applications h2
{
	font-size: 20px;
}

#applications a:hover
{
	color: black;
}

@media (max-width: 1076px) and (min-width: 996px)
{
	#racquets
	{	
		width: 40%;
		height: 40%;
	}
}

@media (max-width: 995px)
{
	#membershipInfo
	{
		padding: 50px;
	}
	
	#membershipInfo img
	{	
		float: none;
		margin-left: 200px;
		width: 60%;
		height: 60%;
	}
	
	#applications
	{
		text-align: center;
	}
}

@media (max-width: 840px)
{
	#membershipInfo img
	{	
		float: none;
		width: 60%;
		height: 60%;
		margin-left: 170px;
		
	}
}

@media (max-width: 686px)
{
	#membershipInfo img
	{	
		float: none;
		width: 60%;
		height: 60%;
		margin-left: 120px;
	}
	
	#applications
	{
		text-align: center;
	}
}

@media (max-width: 576px)
{
	#membershipInfo img
	{	
		float: none;
		width: 60%;
		height: 60%;
		margin-left: 100px;
		
	}
}

@media (max-width: 469px)
{
	#membershipInfo img
	{	
		float: none;
		width: 60%;
		height: 60%;
		margin-left: 75px;
		
	}
}